{{#link-to "index" class="logo-link"}}
	<img class="logo" src="images/logo.png" alt="Logo" />
	<h1>Ceres</h1>
{{/link-to}}
{{#if media.isMobile}}
	{{material-design-icon click=open name="menu"}}
{{/if}}
