<nav>
	<ul>
		<li>{{#link-to "index"}}Home{{/link-to}}</li>
		<li>{{#link-to "class-metrics"}}Class Metrics{{/link-to}}</li>
		<li>{{#link-to "schedules"}}Schedules{{/link-to}}</li>
		<li>{{#link-to "mission"}}Mission & Values{{/link-to}}</li>
		<li>{{#link-to "tools"}}Tools{{/link-to}}</li>
	</ul>
</nav>
