<div class="bar">
	<span class="complete" style="width: {{progressPercentage}};" data-test-progress-percentage>{{progressPercentage}}</span>
	<span class="remaining" data-test-remaining>{{remaining}}</span>
</div>
<span class="remaining-label">Remaining</span>
