<h3 data-test-workshop-name>{{model.workshopName}}</h3>
<ul>
	{{#each model.weeks as |week|}}
		<li>
			<p data-test-week-label>{{week.label}}</p>
			{{#each week.days as |day|}}
				<time data-test-date>{{day.formattedDate}}</time>
				<p data-test-instructor>{{day.instructor.firstName}}</p>
			{{/each}}
		</li>
	{{/each}}
</ul>
