// More resets
* {
	box-sizing: border-box;
}
body {
	@include primary-typography;
	background-color: $black;
}
a {
	text-decoration: none;
	color: inherit;
}
p {
	@include body-font;
	margin-bottom: 1rem;
}
img {
	max-width: 100%;
}

// Overall layout
.body-wrapper {
	display: flex;
	flex-flow: row nowrap;
	> aside {
		flex: 1;
	}
	> main {
		position: relative;
		width: 100%;
		min-height: calc(100vh - 60px);
		background-color: $neutral-light;
		flex: 3;
	}
}
