.app-header {
	@include flex-row;
	align-items: center;
	position: relative;
	height: 60px;
	padding: 1rem;
	@include header-font;
	background-color: $black;
	box-shadow: 0 2px 2px $black;
	z-index: 10;
	.logo-link {
		position: relative;
		height: 100%;
		img {
			max-height: 100%;
			transform: translateY(2px);
		}
		h1 {
			display: inline-block;
			margin-left: 6px;
			transform: translateY(-2px);
		}
	}
	&.mobile-header {
		justify-content: space-between;
	}
}
