.schedules {
	.information-sessions-schedule > tbody {
		td:nth-child(even) {
			background-color: $light-grey
		}
	}
	.workshops {
		tbody {
			td:nth-child(2), td:nth-child(3), td:nth-child(3) {
				background-color: $light-grey
			}
		}
		ul {
			li {
				padding: 1rem;
			}
			li:nth-child(odd) {
				background-color: $light-grey
			}
		}
	}
	.alumni-anonymous-schedule > tbody {
		td:nth-child(2), td:nth-child(3) {
			background-color: $light-grey
		}
	}
}
