.cohort-job-stats {
	display: flex;
	flex-flow: row nowrap;
	background-color: $light-grey;
	margin-bottom: 1rem;
	width: 25rem;
	padding: 2rem 2rem 2rem 0;
	box-shadow: 1px 1px 1px $black;
	h3 {
		font-weight: 300;
	}
	.cohort-label {
		padding: 1rem;
		min-width: 5rem;
		align-self: center;
		justify-self: center;
		h3 {
			font-size: 2rem;
		}
	}
	.job-stats {
		flex-grow: 1;
		.average {
			margin-top: 1rem;
			h3, p {
				display: inline;
			}
			p {
				margin-left: 0.5rem;
			}
		}
	}
}
