.cohort-job-stats {
	$widget-width: 25rem;
	$logo-width: 5rem;
	@include flex-row;
	@include card;
	width: $widget-width;
	.cohort-label {
		margin-right: 1rem;
		align-self: center;
		justify-self: center;
		img {
			max-width: $logo-width;
		}
	}
	.job-stats {
		flex-grow: 1;
		.average, .days-remaining {
			margin-top: 1rem;
			h3, p {
				display: inline;
			}
			h3 {
				font-weight: 300;
			}
			p {
				margin-left: 0.5rem;
				font-weight: 700;
				span.alert {
					color: $red;
				}
			}
		}
	}
}
