.navigation-menu {
}
.mdi-menu {
	font-size: 3rem;
}
.bm-menu {
	background-color: $neutral-dark;
	border-left: 3px solid $white;
	border-shadow: -1px 0px 1px $black;
	@include thick-font;
	color: $white;
	font-size: 2rem;
	position: relative;
	.mdi-close {
		width: 100%;
		text-align: right;
		font-size: 3rem;
	}
	li {
		@include navigation-menu-item;
	}
}

.ember-burger-menu.translucent-overlay .bm-outlet::after {
	background: rgba(0, 0, 0, 0.7);
}
