.progress-bar {
	width: 100%;
	line-height: 2rem;
	@include flex-row;
	.bar {
		display: flex;
		flex-grow: 1;
		@include light-shadow;
		.complete, .remaining {
			@include flex-center;
		}
		.complete {
			padding: 0 1rem;
			background-color: $secondary-color;
			@include thick-font;
		}
	}
	.remaining {
		justify-content: flex-end;
		background-color: $white;
		padding-right: 0.5rem;
		flex-grow: 1;
	}
	.remaining-label {
		padding-left: 0.5rem;
	}
}
