.hero {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
	background-repeat: no-repeat;
	height: 100%;
	@include flex-center;
	h2 {
		@include thick-font;
		font-size: 4rem;
		margin-bottom: 3rem;
		text-align: center;
	}
}
