<section>
	<h2>Mission</h2>
	<p>To cultivate life-long learners</p>
</section>
<section>
	<h2>Values</h2>
	<ul>
		<li>
			<h3>Community.</h3>
			<p>Our work should build strong communities between students, instructors, Galvanize, and the outside world.</p>
			<p><em>"Does this make our communities stronger or weaker?"</em></p>
		</li>
		<li>
			<h3>Sustainability.</h3>
			<p>We should be able to maintain our pace indefinitely.</p>
			<p><em>"Can I keep this up long-term?"</em></p>
		</li>
		<li>
			<h3>Inovation.</h3>
			<p>We should push the boundaries of what education can do.</p>
			<p><em>"Is there a better way to do this?"</em></p>
		</li>
	</ul>
</section>
