<section>
	<h2>Tools</h2>
	<ul class="links">
		<li>
			<a href="https://denver.gteach.xyz/" target="_BLANK" rel="noopener noreferrer"><h3>Instructor Directory</h3></a>
		</li>
		<li>
			<a href="https://mastery.galvanize.network/" target="_BLANK" rel="noopener noreferrer"><h3>Student Directory / Mastery Tool</h3></a>
		</li>
		<li>
			<a href="https://badge.galvanize.network/" target="_BLANK" rel="noopener noreferrer"><h3>gBadge Creator</h3></a>
		</li>
		<li>
			<a href="https://docs.google.com/spreadsheets/d/1mSS56kHD0IOUx83CzomfD5SS5vIHYYPgbYJVrQGjLXo/edit#gid=0" target="_BLANK" rel="noopener noreferrer"><h3>Guest Speakers</h3></a>
		</li>
		<li>
			<a href="https://github.com/gSchool/bue/wiki/Lunch-'n-Learn" target="_BLANK" rel="noopener noreferrer"><h3>Lunch 'n Learns</h3></a>
		</li>
		<li>
			<a href="https://github.com/gSchool/bue/wiki/Denver-WDI:-External-Partner-Projects" target="_BLANK" rel="noopener noreferrer">
				<h3>External Partner Projects</h3>
				<p>Sign-up sheet and current open projects</p>
			</a>
		</li>
	</ul>
</section>
